<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <header th:replace="layout/header"></header>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <aside th:replace="layout/aside"></aside>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div th:fragment="content" class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Blank page
                <small>it all starts here</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">

            <h1>Welcome to admin page</h1>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer th:replace="layout/footer"></footer>

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->

<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/jquery-ui.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/adminlte.min.js}"></script>
<script th:src="@{/assets/js/dashboard.js}"></script>
<script th:src="@{/assets/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/tinymce/config.js}"></script>
<script th:src="@{/assets/js/function.js}"></script>
</body>
</html>
