<div class="home-slider slide-animate owl-carousel owl-theme mb-2" data-owl-options="{
							'loop': false,
							'dots': true,
							'nav': false
						}" th:fragment="banner">
  <div class="home-slide home-slide1 banner banner-md-vw banner-sm-vw d-flex align-items-center">
    <img class="slide-bg" style="background-color: #2699D0;" th:src="@{/fe/images/demoes/demo1/slider/slide-1.png}" width="880" height="428" alt="home-slider">
    <div class="banner-layer appear-animate" data-animation-name="fadeInUpShorter">
      <h4 class="text-white mb-0">Find the Boundaries. Push Through!</h4>
      <h2 class="text-white mb-0">Summer Sale</h2>
      <h3 class="text-white text-uppercase m-b-3">70% Off</h3>
      <h5 class="text-white text-uppercase d-inline-block mb-0 ls-n-20 align-text-bottom">
        Starting At <b class="coupon-sale-text bg-secondary text-white d-inline-block">$<em
              class="align-text-top">199</em>99</b></h5>
      <a href="demo1-shop.html" class="btn btn-dark btn-md ls-10">Shop Now!</a>
    </div>
    <!-- End .banner-layer -->
  </div>
  <!-- End .home-slide -->

  <div class="home-slide home-slide2 banner banner-md-vw banner-sm-vw d-flex align-items-center">
    <img class="slide-bg" style="background-color: #dadada;" th:src="@{/fe/images/demoes/demo1/slider/slide-2.jpg}" width="880" height="428" alt="home-slider">
    <div class="banner-layer text-uppercase appear-animate" data-animation-name="fadeInUpShorter">
      <h4 class="m-b-2">Over 200 products with discounts</h4>
      <h2 class="m-b-3">Great Deals</h2>
      <h5 class="d-inline-block mb-0 align-top mr-5 mb-2">Starting At
        <b>$<em>299</em>99</b>
      </h5>
      <a href="demo1-shop.html" class="btn btn-dark btn-md ls-10">Get Yours!</a>
    </div>
    <!-- End .banner-layer -->
  </div>
  <!-- End .home-slide -->
</div>
<!-- End .home-slider -->

<div class="banners-container m-b-2 owl-carousel owl-theme" data-owl-options="{
							'dots': false,
							'margin': 20,
							'loop': false,
							'responsive': {
								'480': {
									'items': 2
								},
								'768': {
									'items': 3
								}
							}
						}">
  <div class="banner banner1 banner-hover-shadow d-flex align-items-center mb-2 w-100 appear-animate" data-animation-name="fadeInLeftShorter" data-animation-delay="500">
    <figure class="w-100">
      <img th:src="@{/fe/images/demoes/demo1/banners/banner-1.jpg}" style="background-color: #dadada;" alt="banner">
    </figure>
    <div class="banner-layer">
      <h3 class="m-b-2">Porto Watches</h3>
      <h4 class="m-b-4 text-primary"><sup class="text-dark"><del>20%</del></sup>30%<sup>OFF</sup></h4>
      <a href="demo1-shop.html" class="text-dark text-uppercase ls-10">Shop Now</a>
    </div>
  </div>
  <!-- End .banner -->
  <div class="banner banner2 text-uppercase banner-hover-shadow d-flex align-items-center mb-2 w-100 appear-animate" data-animation-name="fadeInUpShorter" data-animation-delay="200">
    <figure class="w-100">
      <img th:src="@{/fe/images/demoes/demo1/banners/banner-2.jpg}" style="background-color: #dadada;" alt="banner">
    </figure>
    <div class="banner-layer text-center">
      <h3 class="m-b-1 ls-n-20">Deal Promos</h3>
      <h4 class="text-body">Starting at $99</h4>
      <a href="demo1-shop.html" class="text-dark text-uppercase ls-10">Shop Now</a>
    </div>
  </div>
  <!-- End .banner -->
  <div class="banner banner3 banner-hover-shadow d-flex align-items-center mb-2 w-100 appear-animate" data-animation-name="fadeInRightShorter" data-animation-delay="500">
    <figure class="w-100">
      <img th:src="@{/fe/images/demoes/demo1/banners/banner-3.jpg}" style="background-color: #dadada;" alt="banner">
    </figure>
    <div class="banner-layer text-right">
      <h3 class="m-b-2">Handbags</h3>
      <h4 class="mb-3 text-secondary text-uppercase">Starting at $99</h4>
      <a href="demo1-shop.html" class="text-dark text-uppercase ls-10">Shop Now</a>
    </div>
  </div>
  <!-- End .banner -->
</div>

<h2 class="section-title ls-n-10 m-b-4 appear-animate" data-animation-name="fadeInUpShorter">
  Featured Products</h2>

<div class="products-slider owl-carousel owl-theme dots-top dots-small m-b-1 pb-1 appear-animate" data-animation-name="fadeInUpShorter">
  <div class="product-default inner-quickview inner-icon">
    <figure class="img-effect">
      <a href="demo1-product.html">
        <img th:src="@{/fe/images/demoes/demo1/products/product-1.jpg}" width="205" height="205" alt="product">
        <img th:src="@{/fe/images/demoes/demo1/products/product-1-2.jpg}" width="205" height="205" alt="product">
      </a>
      <div class="label-group">
        <div class="product-label label-hot">HOT</div>
        <div class="product-label label-sale">-20%</div>
      </div>
      <div class="btn-icon-group">
        <a href="demo1-product.html" class="btn-icon btn-add-cart"><i
                class="fa fa-arrow-right"></i>
        </a>
      </div>
      <a   class="btn-quickview" title="Quick View">Quick View</a>
      <div class="product-countdown-container">
        <span class="product-countdown-title">offer ends in:</span>
        <div class="product-countdown countdown-compact" data-until="2021, 10, 5" data-compact="true">
        </div>
        <!-- End .product-countdown -->
      </div>
      <!-- End .product-countdown-container -->
    </figure>
    <div class="product-details">
      <div class="category-wrap">
        <div class="category-list">
          <a th:href="@{/products/detail}" class="product-category">category</a>
        </div>
        <a href="wishlist.html" title="Add to Wishlist" class="btn-icon-wish"><i
                class="icon-heart"></i></a>
      </div>
      <h3 class="product-title"> <a th:href="@{/products/detail}">Black Grey Headset</a> </h3>
      <div class="ratings-container">
        <div class="product-ratings">
          <span class="ratings" style="width:100%"></span>
          <!-- End .ratings -->
          <span class="tooltiptext tooltip-top"></span>
        </div>
        <!-- End .product-ratings -->
      </div>
      <!-- End .product-container -->
      <div class="price-box">
        <span class="product-price">$9.00</span>
      </div>
      <!-- End .price-box -->
    </div>
    <!-- End .product-details -->
  </div>
  <div class="product-default inner-quickview inner-icon">
    <figure class="img-effect">
      <a href="demo1-product.html">
        <img src="assets/images/demoes/demo1/products/product-2.jpg" width="205" height="205" alt="product" />
      </a>
      <div class="btn-icon-group">
        <a href="#" title="Add To Cart" class="btn-icon btn-add-cart product-type-simple"><i
                class="icon-shopping-cart"></i></a>
      </div>
      <a th:href="@{/products/detail}" class="btn-quickview" title="Quick View">Quick View</a>
    </figure>
    <div class="product-details">
      <div class="category-wrap">
        <div class="category-list">
          <a th:href="@{/products/detail}" class="product-category">category</a>
        </div>
        <a href="wishlist.html" title="Add to Wishlist" class="btn-icon-wish"><i
                class="icon-heart"></i></a>
      </div>
      <h3 class="product-title"> <a href="demo1-product.html">Battery Charger</a> </h3>
      <div class="ratings-container">
        <div class="product-ratings">
          <span class="ratings" style="width:100%"></span>
          <!-- End .ratings -->
          <span class="tooltiptext tooltip-top"></span>
        </div>
        <!-- End .product-ratings -->
      </div>
      <!-- End .product-container -->
      <div class="price-box">
        <span class="product-price">$9.00</span>
      </div>
      <!-- End .price-box -->
    </div>
    <!-- End .product-details -->
  </div>
  <div class="product-default inner-quickview inner-icon">
    <figure class="img-effect">
      <a href="demo1-product.html">
        <img src="assets/images/demoes/demo1/products/product-3.jpg" width="205" height="205" alt="product">
        <img src="assets/images/demoes/demo1/products/product-3-2.jpg" width="205" height="205" alt="product">
      </a>
      <div class="label-group">
        <div class="product-label label-hot">HOT</div>
        <div class="product-label label-sale">-30%</div>
      </div>
      <div class="btn-icon-group">
        <a href="#" title="Add To Cart" class="btn-icon btn-add-cart product-type-simple"><i
                class="icon-shopping-cart"></i></a>
      </div>
      <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a>
    </figure>
    <div class="product-details">
      <div class="category-wrap">
        <div class="category-list">
          <a href="demo1-shop.html" class="product-category">category</a>
        </div>
        <a href="wishlist.html" title="Add to Wishlist" class="btn-icon-wish"><i
                class="icon-heart"></i></a>
      </div>
      <h3 class="product-title"> <a href="demo1-product.html">Brown Bag</a> </h3>
      <div class="ratings-container">
        <div class="product-ratings">
          <span class="ratings" style="width:100%"></span>
          <!-- End .ratings -->
          <span class="tooltiptext tooltip-top"></span>
        </div>
        <!-- End .product-ratings -->
      </div>
      <!-- End .product-container -->
      <div class="price-box">
        <span class="product-price">$9.00</span>
      </div>
      <!-- End .price-box -->
    </div>
    <!-- End .product-details -->
  </div>
  <div class="product-default inner-quickview inner-icon">
    <figure class="img-effect">
      <a href="demo1-product.html">
        <img src="assets/images/demoes/demo1/products/product-4.jpg" width="205" height="205" alt="product">
        <img src="assets/images/demoes/demo1/products/product-4-2.jpg" width="205" height="205" alt="product">
      </a>
      <div class="label-group">
        <div class="product-label label-hot">HOT</div>
      </div>
      <div class="btn-icon-group">
        <a href="#" title="Add To Cart" class="btn-icon btn-add-cart product-type-simple"><i
                class="icon-shopping-cart"></i></a>
      </div>
      <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a>
    </figure>
    <div class="product-details">
      <div class="category-wrap">
        <div class="category-list">
          <a href="demo1-shop.html" class="product-category">category</a>
        </div>
        <a href="wishlist.html" title="Add to Wishlist" class="btn-icon-wish"><i
                class="icon-heart"></i></a>
      </div>
      <h3 class="product-title"> <a href="demo1-product.html">Casual Note Bag</a> </h3>
      <div class="ratings-container">
        <div class="product-ratings">
          <span class="ratings" style="width:100%"></span>
          <!-- End .ratings -->
          <span class="tooltiptext tooltip-top"></span>
        </div>
        <!-- End .product-ratings -->
      </div>
      <!-- End .product-container -->
      <div class="price-box">
        <span class="product-price">$9.00</span>
      </div>
      <!-- End .price-box -->
    </div>
    <!-- End .product-details -->
  </div>
  <div class="product-default inner-quickview inner-icon">
    <figure class="img-effect">
      <a href="demo1-product.html">
        <img src="assets/images/demoes/demo1/products/product-5.jpg" width="205" height="205" alt="product">
        <img src="assets/images/demoes/demo1/products/product-5-2.jpg" width="205" height="205" alt="product">
      </a>
      <div class="label-group">
        <div class="product-label label-hot">HOT</div>
      </div>
      <div class="btn-icon-group">
        <a href="#" title="Add To Cart" class="btn-icon btn-add-cart product-type-simple"><i
                class="icon-shopping-cart"></i></a>
      </div>
      <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a>
    </figure>
    <div class="product-details">
      <div class="category-wrap">
        <div class="category-list">
          <a href="demo1-shop.html" class="product-category">category</a>
        </div>
        <a href="wishlist.html" title="Add to Wishlist" class="btn-icon-wish"><i
                class="icon-heart"></i></a>
      </div>
      <h3 class="product-title"> <a href="demo1-product.html">Porto Extended Camera</a>
      </h3>
      <div class="ratings-container">
        <div class="product-ratings">
          <span class="ratings" style="width:100%"></span>
          <!-- End .ratings -->
          <span class="tooltiptext tooltip-top"></span>
        </div>
        <!-- End .product-ratings -->
      </div>
      <!-- End .product-container -->
      <div class="price-box">
        <span class="product-price">$9.00</span>
      </div>
      <!-- End .price-box -->
    </div>
    <!-- End .product-details -->
  </div>
</div>
<!-- End .featured-proucts -->

<div class="brands-slider owl-carousel owl-theme images-center appear-animate" data-animation-name="fadeIn" data-animation-duration="700" data-owl-options="{
                            'margin': 0,
							'responsive': {
								'768': {
									'items': 4
                                },
                                '991': {
									'items': 4
                                },
                                '1200': {
									'items': 5
								}
							}
						}">
  <img th:src="@{/fe/images/brands/small/brand1.png}" width="140" height="60" alt="brand">
  <img th:src="@{/fe/images/brands/small/brand2.png}" width="140" height="60" alt="brand">
  <img th:src="@{/fe/images/brands/small/brand3.png}" width="140" height="60" alt="brand">
  <img th:src="@{/fe/images/brands/small/brand4.png}" width="140" height="60" alt="brand">
  <img th:src="@{/fe/images/brands/small/brand5.png}" width="140" height="60" alt="brand">
  <img th:src="@{/fe/images/brands/small/brand6.png}" width="140" height="60" alt="brand">
</div>
<!-- End .brands-slider -->