<div class="feature-boxes-container" th:fragment="services">
    <div class="row">
        <div class="col-md-4 appear-animate" data-animation-name="fadeInRightShorter" data-animation-delay="200">
            <div class="feature-box  feature-box-simple text-center">
                <i class="icon-earphones-alt"></i>

                <div class="feature-box-content p-0">
                    <h3 class="mb-0 pb-1">Customer Support</h3>
                    <h5 class="mb-1 pb-1">Need Assistance?</h5>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec vestibulum magna, et dapib.</p>
                </div>
                <!-- End .feature-box-content -->
            </div>
            <!-- End .feature-box -->
        </div>
        <!-- End .col-md-4 -->

        <div class="col-md-4 appear-animate" data-animation-name="fadeInRightShorter" data-animation-delay="400">
            <div class="feature-box feature-box-simple text-center">
                <i class="icon-credit-card"></i>

                <div class="feature-box-content p-0">
                    <h3 class="mb-0 pb-1">Secured Payment</h3>
                    <h5 class="mb-1 pb-1">Safe & Fast</h5>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec vestibulum magna, et dapib.</p>
                </div>
                <!-- End .feature-box-content -->
            </div>
            <!-- End .feature-box -->
        </div>
        <!-- End .col-md-4 -->

        <div class="col-md-4 appear-animate" data-animation-name="fadeInRightShorter" data-animation-delay="600">
            <div class="feature-box feature-box-simple text-center">
                <i class="icon-action-undo"></i>

                <div class="feature-box-content p-0">
                    <h3 class="mb-0 pb-1">Returns</h3>
                    <h5 class="mb-1 pb-1">Easy & Free</h5>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec vestibulum magna, et dapib.</p>
                </div>
                <!-- End .feature-box-content -->
            </div>
            <!-- End .feature-box -->
        </div>
        <!-- End .col-md-4 -->
    </div>
    <!-- End .row -->
</div>